.map-container {
    margin-left: 12%;
}

.area {
    cursor: pointer;
    stroke: black;
    stroke-width: 4px;
    transition: fill 0.3s;
    opacity: 0.6;
}

.area:hover {
    fill: lightblue !important;
}

.area:active {
    fill: sandybrown !important;
}

.general-voivodeship-info {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    -webkit-transition: 1s;
    transition: 1s;
    position: fixed;
    height: 100vh;
    width: 25vw;
    background-color: rgba(3, 75, 35, 0.95);
    right: -500px;
    top: 0;
    bottom: 0;
    opacity: 0.9;
    font-weight: 900;
    max-width: 500px;
    border: solid black;

}


#label-inf {
    margin: 20% 5% 5%;
    color: white;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-image: url("/static/img/bcg.jpg");
    box-shadow: 5px 4px 2px -2px rgb(255, 255, 255);
    text-align: center;
    border-radius: 7px;
    font-size: 200%;
}

#cases-tab {
    flex: 60%;
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 95%;

}


#statistics-link {
    position: relative;
    height: 80px;
    max-height: 80px;
    box-sizing: content-box !important;
    display: table-cell;
    flex: 20%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 200%;
    margin: -12px 5% 40px 5%;
    background-image: url("/static/img/bcg.jpg");
    box-shadow: 5px 4px 2px -2px rgb(255, 255, 255);
    opacity: 1;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    padding-bottom: 20px;
    bottom: 15px;
}


#statistics-link:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

tr {
    word-break: break-all;
}

td {
    word-break: break-all;
}

.buttons {
    padding: 15px;
    box-sizing: content-box !important;
    width: 180%;
    top: 100px;
    align-items: center;
    text-align: center;
    position: absolute;
    margin: 15px;
    left: 10%;
    transition: 1s;
}

.btn {
    position: relative;
    flex: none;
    border-radius: 20px;
    color: blanchedalmond;
    border: solid blanchedalmond;
    outline: none;
    background-color: black;
    cursor: pointer;
    opacity: 0.9;

}

.components {
    max-height: 2000px;
    max-width: 400px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 15px;
    align-items: center;
    height: 100%;
}


#date-div {
    background-image: url("/static/img/bcg.jpg");
    font-size: large;
    font-weight: 700;
    color: blanchedalmond;
    text-align: center;
    border: 25px solid rgba(255, 255, 255, 0.7);
    opacity: 0.8;
    border-radius: 25px;
    position: absolute;
    margin: 15px;
}

.legend {
    max-width: 215px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    font-size: medium;
    font-style: oblique;
    color: black;
    text-align: center;
    border-radius: 25px;
    top: 180px;
    bottom: 250px;
    padding-left: 25px;
    overflow: auto;
}

.legend-element {
    transition: 300ms;
    flex: auto;
    display: table-cell;
    padding: 1%;
    margin: 5px;
    opacity: 0.6;
    text-align: center;
    border-radius: 25px;
    width: 160px;
}


.knob-container {
    position: absolute;
    left: 120px;
    bottom: 15px;
    align-items: center;
    margin: auto;
    transition: 1s;
}

@media only screen and (max-width: 800px) and (max-height: 1333px) {
    .buttons {
        width: 600%;
    }

    .legend-element {
        padding: 0.1%;
        height: 0.1%;
        font-size: 8px;
        width: 100px;
    }

    .knob-container {
        left: 15px;
    }

    #general-voivodeship-info {
        width: 100%;
    }

    .map-container {
        margin-left: 30%;
    }

    #svg-div {
        transform: scale(1.75);
    }

}

@media only screen and (max-height: 800px) {

}