{% extends "base.html" %}
{% load static %}
<head>
    <title> Prediction Tomorrow </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.com/libraries/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <script>
        var data_raw = '{{data}}';
    </script>
</head>

{% block content %}

    <div class="page-content">
        <div id="date-div"></div>
        <div class="side-content">
            <div class="map-container">
                <div class="mapdiv" id="mapdiv">
                    <svg id="svg-div" version="1.2" viewbox="-400 -10 1600 948" xmlns="http://www.w3.org/2000/svg"
                         style="height: 100%;width: 100%">
                        <a xlink:title="Warmińsko-mazurskie" onclick='draw_chart_onclick(this)'>
                            <path d="M866.3 77.7l0.3 1.3-2.5 8.3-5.7 6-6.6 4.5-22.2 3.1-9.4 13.3 10.1 13.5 0.5 5.1 1.1 4.7 5 5 10.6 14.8-0.4 7.9-4 7.8-3.5 9.8-5.7 6.1-27.8 17.3-9.6 10.9-17.2 11.9-7.5 1.1-3.1 1.3-2.9 2.4-6.3 2.2-14.2-0.9-7.3 3.2-12 1-2.5 1.3-2.8 5.6-4.1 2.9-4.5 0.7-8.9-0.8-7.5 9-9 2.9-9.5 0-7.3 4.2-6.3 1.3-7.2-0.1-3.6 2.9-3.3 4-13.9 8.1-3.7 1-3.8-0.4-3.1 2.5-1.6 5.6-2.6 3-3 1.5-7.5 1.4-31.5-4.9-0.9-1-0.6-1.5-1.6-1.1-1.7-0.3-3.9 1.2-2.6 5.1-2.9 2.4-3.4 0.9-1.5-15.2-5.1-13-5.6-3.9-11.4-3-10.6-6.5-7.6-2.5-1.9-0.1-2.4-1-1.5-2.2-3-5.8-2.5-7.1-8.6-16.9 14.7-27.5 3.5-3.8 4.2-2.7 8 0.6 5.6-2.5 0.2-2.7 1.2-1.9 1.6-4.8 1.8-1.9 1.2-2.2 0-2.8 0.4-2.8-5-1.3-9.8 0.8-3.6-1.8 2-6.6-2.6-3.6-5.1-0.6-4.8-2.9-3.4-5.5-1.8-7.3-0.3-3.3 1.6-2.4 4.4-4.4 1.5-2.8 1.2-3.1-1.1-4.3-2-3.6-2.2-6.5 0.7-5.8 2.4-2.8 8.8 1.1 2.4-0.3-0.4 1.6-0.9 1.3-0.4 0.8-0.4 2.1 0 2.5 1.4-1.6 1.7-4.4 0.4-0.5 0.8-1 2.5-4.1 2.6-2.5 2-1 0.6-0.2 7.7-4.9 1.7-0.7 3.9-0.5 6.4-4.8 1.4-0.5 1.4-0.2 0.6-0.6 0.4-0.8 0.8-2.2 1-1 0.8-0.6-0.1-0.9-0.4-2.1 1.5-0.1 59.2 3.1 57.5 3.1 35.6 1.9 43.2 2.3 55.4 3 42 2.2 6.8-2.3 1.9-1.5 2.5-4.7z"
                                  id="Warmińsko-mazurskie" name="Warmińsko mazurskie" class="area">
                            </path>
                        </a>
                        <a xlink:title="Pomorskie" onclick='draw_chart_onclick(this)'>
                            <path d="M524.8 99.1l0.4-1.6-2.4 0.3-8.8-1.1-2.4 2.8-0.7 5.8 2.2 6.5 2 3.6 1.1 4.3-1.2 3.1-1.5 2.8-4.4 4.4-1.6 2.4 0.3 3.3 1.8 7.3 3.4 5.5 4.8 2.9 5.1 0.6 2.6 3.6-2 6.6 3.6 1.8 9.8-0.8 5 1.3-0.4 2.8 0 2.8-1.2 2.2-1.8 1.9-1.6 4.8-1.2 1.9-0.2 2.7-5.6 2.5-8-0.6-4.2 2.7-3.5 3.8-14.7 27.5-5.4 2.4-11.4 0.7-5.4-2.2-3.1-2-6.5-6.8-1.7-1-1.3-1.6-2-1.2-8.1-1.1-5.7 2.1-3.7 2.4-8.5-5.1-17.9-3-3.3-3.1-2.9-3.7-3.5-0.4-16.9 2.6-12.7-2.5-2.7 2.1-4 7.5-6.9 2.5-3.2 3-0.5 2.2-0.4 2.4-0.1 3.6-6.2 2.5-13.8-3.7-3.7 0.4-2.7 3.9-2.5 5.3-3 10.5-2.8 1.7-4.4-5.3-5.3-2.9-20.3-0.8-5.8-3.6-4.1-7.3-4.8-5.9-1.8-18.3 4.2-4.2 3-5.3-1.2-3.6-1.7-2.8-2-1-0.1-3.3 5-2.4 5.5 0.8-1.9-4.1-2.3-3.3-2.8-2.5-3.7-7.6-2.4-2.9-4.3-3.1 0-9.3-0.8-9.4-6.3-19.3 13.9-3.4 1.6-2.5-0.4-4.2-1.9-2.7-1.1-2.4 0.7-3.1 2.7-2.7 1-4.6-0.7-8.2-3.1-6.3-8.2-11.9-7.1-14.4 7.4-2.9 4.2-0.8 3.8-1.3 9.5-10.5 30.1-14.2 37.7-7.1 16.9-5.8 26.6-2.5 16.4 0 2.2 0.8 3.6 3.2 1.4 0.7 2 0.5 34.1 20.4 6.2 8.1 1 1.9 1 2.7 0.1 2.3-1.8 0.8-1.5-3-1.8-1.3-1.2-3.3-1.7-2.1-4.7-8-0.9-0.5-3.5-0.7-0.9-0.4-1-1.6-2.8-1-5.9-4.1-5.9-2.8-0.9-1.3-3.3-2.5-0.8-0.4-1.2 0.5-0.7 0.9-1.4 4.9-0.2 1.2 0 2.5 0.6 0.6 2.4 1.1 1.7 2.8 1.4 3.1-0.4 2.5 0 1.1 1.2 1.3-0.6 3.3 1.1 1.5 1.9-0.4 1.7-2.2-0.6 2.9 0.8 2.3 1.2 1.9 2.6 7.8 0.7 1.7-0.4 3.9 0.1 6.8 0.7 6.4 1.4 2.9 1.5 0.5 3.1 2.3 1.5 0.6 1.4 0.1 1.6 0.5 1.5 1 0.6 1.5 1.6 2.3 16.8 5.5 3.7 0.2 3.2-1.7 0.8 0.9 1.2 0.6 2.7 0.9 37.4-5.6 8.2-4 3.9-1 3.2-1.4 6.1-6.4 1.7-0.8 1.1 0.9-17.7 13.7-4.3 2.2-4.2 1.2-8.7 0.8-4.1 1.6 0 1 2.3 3.1 1.1 0.6-1.1 1-0.3 2.4 2.5 1.5 8.8 1.1 2.4-0.3 0 1.3-0.4 0.3z"
                                  id="Pomorskie" name="Pomorskie" class="area"></path>
                        </a>
                        <a xlink:title="Dolnośląskie" onclick='draw_chart_onclick(this)'>
                            <path d="M224.8 516.3l8.7-1.6 4.1 1 11.2 6.2 1.8 4 0.3 5.2 4.3 7.7 9.7 5.4 5.4 6 11.5 4.1 20.6-3.6 3.7-8.6 4.2-0.9 11.7 0.1 11 3 9.9 6.4-1 4.6-1.3 4-2.5 1.6-1.3 3.4 0.6 6.9 2.3 5.9 5.9 1.4 6.1-1.3 3.8 1.1 3.5 2.9-2.8 6.7 1.2 16.3 1.3 7.9-3.3 2.1-3.5 0.8-3.4-0.2-3.3 1.1-2.6 2.8-5.8 13.3-1 3.9-0.6 4.1-1.6 4.8-3.2 2.1-4.7 6.2-3.6 8.3-8.3 12.3-7.2 13.7-2.3 8.8-3.5 6.2-6.1 1-5.2 4-7.2 17.9-0.4 1.9-2.8-1.7-2.3-0.3-2.7 1.7 0 2.1 3.2 4.8 1.1 2.8 0.8 3.3 1 3.1 1.8 1.9 2.5 1.4 1.8 2 1 2.8 0.2 3.8 1.3 1.7 0.2 2.1-0.7 1.3-1.2-0.4-1.5-2.6-0.6-0.4-1.5 0-0.2 0.4 0 1.9-1.2 0.6-1.8-0.6-0.9 0-1.2 0.8-1.6 2.3-1 0.9-2.3 0.6-2-0.2-2 0.3-2.2 1.9-1.8 2.8-1.1 2.1-1.2 1.7-2.2 1.6-3.1 4.2-4 0.3-4.2-2.2-3.4-3.1-1.8-2.3-0.9-2-1.2-5.3-1-2.9-3-3.2-1.3-2.3-1.5-2-2.5-4.6-1.4-2-2.2-1.6-4.5-1.6-1.7-2.4-0.3-1.3 0-2.9-0.7-1.4-0.9-0.3-4.6 0-2.6 1.1-1.3-1-0.4-0.9-1.3-4-3.2-0.6-1-2.8 0.8-2.5 2 0.5-0.7-2.3 2.1-0.8 1.5-1.3 1.8-1.1 1.5-1.2 0.7-2.1 1.6-0.5 3.2 0.9 1.7-0.4 0.9-1.3 2.1-2 0.6-1.1 0.2-2.9 0.7-1.4-0.3-1.7 3.1-1.3-0.9-3-8.5-9-3.1-1.7-3.2-0.9-3.6 0-1.3 0.2-1.5 3.6-1.2 1.6-1.6 0.3-1.6-0.7-3.1-2.4-4.2-0.4-6.2 6-4.2 0.8-0.3-1 0.3-1 1.4-1.2 0.2-1.9-0.5-2.1-0.9-2.2-1.3-2.4-1.3-1.3-1.7-0.3-5.9 2.3-2.7 0-0.7-0.2-5-8.6-0.5-2-2.5-0.2-8.3 2-1-0.4-0.7-0.7-1.4-2-1.1-0.8-19.9-7-4.2 0.4-0.9 1.1-1 1.7-1.1 1.2-1.4-0.5-0.6-1.3 0.4-3.1-0.1-1.5-1.2-2.9-1.5-1.3-1.8-0.8-2-1.6-1-1.7-1.2-2.6-0.9-2.8-0.3-2.3 0.7-2.9 0.8-1.6 0.1-1.6-1.6-2.5-2.6-1.4-5.7-0.1-0.9-2.3-0.5-2.4-1.1-0.6-1.3 0.9-0.9 2.1-0.4 1.6-1.1 0.3-1.4-0.7-1.2-1.2-0.8-1.6-5-1.1-1.9-1.7-0.8 2-1.4 1.1-1.2 0.4-0.9 0.9 0.4 1.8 1.6 1.3 1.5 2.2 0.1 4.6-1.2 1.9-0.4 1.4 0.2 1.1 0.1 5.5-0.2 1.3-11.4-0.8-3.6 1-2.1-0.1 0-2.9 1.4-2.3 3.5-4 5.1-12 4.4-11.3 0.3-1.8 0-3.1 0.2-1.5 0.5-1.1 1.5-1.8 0.2-2.1 0.1-4 0.8-4.4 1.4-4.3 1.7-3.3-0.8-1 0.5-4.6-1.4-3.1-2.3-2.7-1.8-3.2-0.8-4.1-0.6-6.8 1.9-1.1 16-8.4 2.8 0 5.9 5.1 2.9 0.2 5-8.7 3.3-4 7.3-2.5 14 7.7 7.1-1.7 11-14.6 9.8-19.2 2.2-1.6 3.5-1.2 3-3 1.4-4.2 2-2.7 15.1 2.8 2.6 2.9 0.4 5.6 5.5 7.1 7.9-1.8 6.1-5.3 4.8-8z"
                                  id="Dolnośląskie" name="Dolnośląskie" class="area">
                            </path>
                        </a>
                        <a xlink:title="Zachodniopomorskie" onclick='draw_chart_onclick(this)'>
                            <path d="M282.3 214.1l-3.8-1.2-3.8 0.1-3.5 1.6-2.6 4.6-2 5.5-2.5 10.7-3 0.5-18.3-0.4-2.3 3.2 0.1 6.6 1.6 6 6.2 6.1 7.5 1.9 3.7 1.9 3.1 4 0.7 4.8-3.1 3.8-2.3 4.2-2.9 2.7-7.4 2.3-14.4 8.5-8 12.7-9.7 9.1-6.1 2.4-6.2 0.8-6.1-3.6-5.5-1.9 1.8-7.8-2.6-8.2-5-1.1-5.4 0.8-5.2 4.1-9 11.5-5 3.7-20.5-0.1-16.9 5.8-5.7 0.3 2 2.7 2.7 0.5-3.7 7.2-6.2 7.1-5.2 0.8-16.6-5.5-9.7 5.4-6.4 13.9-7.8 11-5 2.1-8.5 1.4-2.1 3.3-2.5 8.8-5.8-6.6-5.9-2.3-2.9-4-1.9-0.9-1-1-3.4-6.7-1.6-1.8-10.6-7.9-2.7-1.4-3.2-3.9-2-0.9-2.2-0.1-2.1-0.7-1.8-1.4-1.1-2.3 2.6-2.3 1.1-2 0.4-3.1-0.2-2.1-1.3-5.8-0.6-1.7 0-1 4.9-3.6 6-3.2 5.9-4.7 3.1-3.2 1.3-3 0.3-1.4 3-9.4-0.2-2.4-0.6-2.4-0.4-2.7 0.3-2.2 0.7-2 1-1.5 1-0.6 0.8-1 2.5-5.2-1.3-1.2-0.3-0.9-1.6-1.3-0.6-1.1-0.3-1.6-0.2-4.4-2.8-12.9-1-8.7-2.1-3.5-1-3.5-2.4-3.8-0.8-3.4 0-3.7 0.2-6.2-0.2-1.6-2-6.6-1.5-3.3 0.4-2.6-0.2-4.7 1-0.1 1.8-0.8 1.3-1.2 0.2-1.4-1.8-1.2 1-0.6 0-1.2-1-0.5 0.6-1.3 0.9 0.9 2.7 1.6 1.1 3.3 1.4 1.1 2.8 1.3 2 2.1 1.1 0.9 4.3 0.8 5.4 1.9 1.8 1.5 1.6 2.2 3.2 6.3 1.2 1.5 0.5-0.5 0.1-2.7 0.5-1.6 0.8-1 1.4-1.1 0-2.3-1.1-0.3-2.5-0.2-1.2-0.6-3.1-7.5 0.7-3.7 2.4-7.3 1.2 1 2-1 1.6 0-0.7-4.3 0.4-3.4 0.6-3 0.4-3.2-0.7 0-0.3 2-0.7 1.4-2.4 2.4-1 0.3-1.1-1.5 2.1-2.3-1.4-2.8-2.4-1.4-11-1.1-1.6-1.8 1.3-3.3-0.6-1.1-1 1.7-0.8 0.2-2-0.8-0.9 0.4-2.2 3 3 0.6 1.6 0.7 0.9 1.1-0.2 2.1-1.1 1.5-1.2 0.5-0.9-0.6-2.8 1.7-2.7 0.6 0 1.1 1.3 0.6-1.3 0.6-1-0.1-1.6-0.9-1.1-0.2-1.7-1.1-4.8-6.9-2.5-1.1-0.8-2.6-1.8-2.2 1.8-0.8 1.7-4.6 1.6 0.8 1.1 0.9 3.1 1.1 9.8 0.9 4-0.9 3.8-2 7.2-5.3 26.3-11.8 22.8-6 27.7-11.7 17.9-4.8 19.7-5.3 19.3-8.8 16-2 11.1-3.7-1.3 1.2-4.9 2.3 2.1 1.5 8.8-1.5-0.7-1.1 0-1.3 4.8 0-0.7-1.1 0.2-2.8-2.3-0.1-5.4 1.7 3.4-1.7 4.1-2.7 6.2-7.3-1.2 2.6-2.3 2.3 0.1 1 1.8-0.4 1.6-0.7 1.3-1.6 3.5-1.7 1.3-1.5-1.2-2.5-1.9 0-2.4 2.5 4.2-7.3 11.6-14.9 0 1.1-0.6 1.6 1 0.5 1.7-0.6 1.2-1.5 0.7-2.3-0.6-0.7-1.3 0.5-1.5 1.4 2-4.1 3.5-3.5 6.8-4.2 20.8-3.1 0.7-0.3 7.1 14.4 8.2 11.9 3.1 6.3 0.7 8.2-1 4.6-2.7 2.7-0.7 3.1 1.1 2.4 1.9 2.7 0.4 4.2-1.6 2.5-13.9 3.4 6.3 19.3 0.8 9.4 0 9.3 4.3 3.1 2.4 2.9 3.7 7.6 2.8 2.5 2.3 3.3 1.9 4.1-5.5-0.8-5 2.4 0.1 3.3 2 1 1.7 2.8 1.2 3.6-3 5.3-4.2 4.2 1.8 18.3z"
                                  id="Zachodniopomorskie" name="Zachodniopomorskie" class="area">
                            </path>
                        </a>
                        <a xlink:title="Lubuskie" onclick='draw_chart_onclick(this)'>
                            <path d="M191.7 311l-2 9.6 0.4 10.5-9.7 12.5 3 2.8 2.2 8.2-1 2.5-1.9 1.3-9.4 3-1.6-0.2-0.7 1.5-0.1 3.7-0.4 3.5 0.4 9.2 3.5 9.7 1.2 5.7 0.8 6 0 4.9-2.7 0-2.1 1.5 4.2 7.5 2 4.8 0.2 10.1-3.2 9.5-0.5 2.4-0.2 2.5-1.2 4.8 0 5.4 0.7 5.1 2.4 3.5 2.7 2.8 5.5 3 1.8 5 2.3 4.2 3.5 3.6 3.7 0.1 1.7-0.8 1.7 1.1 0.1 3.2-0.9 3.1-0.4 5.6 1.4 4.3 4.3 2.9 4.5 1.5 7.3-4.9 6.5 7.1 3.1 12-4.8 8-6.1 5.3-7.9 1.8-5.5-7.1-0.4-5.6-2.6-2.9-15.1-2.8-2 2.7-1.4 4.2-3 3-3.5 1.2-2.2 1.6-9.8 19.2-11 14.6-7.1 1.7-14-7.7-7.3 2.5-3.3 4-5 8.7-2.9-0.2-5.9-5.1-2.8 0-16 8.4-1.9 1.1-0.3-4.2 0.8-2-1-2.2-1.9-2-1.5-1.2-2.3-1.1-4.6-1.4-2.3-1.3-2.1-1.5-6.5-2.2-2.2-2.3-0.6-2.8 0.8-3.2 2-3 1.2-3.2-0.2-4.3-1-4.1-1.3-2.7-4.8-4.1-2.3-2.6-1-4.1-0.4-4.3-1.4-1.8-1.8-1.3-1.6-2.5-0.3-3.4 1.3-2.8 5.7-5.8 1.9-2.5 1.5-2.9 0.8-3.2 0.4-9.8 0.5-1.6 2.2-3.9 0.4-1.6 0.5-2.9 0.8-1.4 1.8-2.3-6.5-4.8-1-2.4 0.6-4.2 1.1-2.9 0.4-2.4-1.5-2.2 0-1 2-2.6 0-3.3-1.5-2.9-2.8-1.2-2.8-0.7-3.4-1.7-2.3-2.5 0.6-3-2-4.7-2.4-7.2-0.6-6.5 5.2-4.5 2.4-3.9 1.6-3.8-0.4-1.7-1.9-1.8 0.8-3.8 2.8-5.8-3.1-2.6-0.6-0.6 2.5-8.8 2.1-3.3 8.5-1.4 5-2.1 7.8-11 6.4-13.9 9.7-5.4 16.6 5.5 5.2-0.8 6.2-7.1 3.7-7.2-2.7-0.5-2-2.7 5.7-0.3 16.9-5.8 20.5 0.1 5-3.7 9-11.5 5.2-4.1 5.4-0.8 5 1.1 2.6 8.2-1.8 7.8z"
                                  id="Lubuskie" name="Lubuskie" class="area">
                            </path>
                        </a>

                        <a xlink:title="Wielkopolskie" onclick='draw_chart_onclick(this)'>
                            <path d="M282.3 214.1l4.8 5.9 4.1 7.3 5.8 3.6 20.3 0.8 5.3 2.9 4.4 5.3-2.7 6.2-7.2 9.5 1.2 5 8.4 6.6 4.8 10.8-9.1 7.7 0.9 7.1 3.1 5.9-1.4 10.3-4.5 10.4 8.1 2.9 7.5 5.7 4.9 10.8-2.1 11.6-1.2 2.3-1.6 0.6-1.8-0.1-1.7 1.2-0.6 4.3 3.6 3.4 1.5 3.9 2 3.2 4 0.8 4-1.4 1.8-1.6 3.1 2.7 0.9 2.2 0.4 2.7 0.8 1 1.1 0.6 6.4 2.2 6.9 0.4 7.5 4.1 10.2 9.3 3.5 1.9 3.7 0.2 3.4 1.4 2.9 3.6 3.2 3.1 10.1 2.6 3.4-1.5 5.8-6.8 1.9 0.5 1.4 1 0.8 3 1.2 2.6 1.9 2.8 2.4 0.8 1.5-0.9 1-1.8 1.8-0.8 1.9-0.2 3.5 1.6 3 3.6 16.5 13.5 2.7 6.2 3.6-0.3 10.4-4.4 3.5-0.5 9.5 7.2 0.2 5.3 1.9 4.1 1.5 0.4 0.2 1.6-6.1 5.9-10 4.3-1 4.5-0.9 10.2-5.1 5.9-6.6 1.6-3.5-0.4-3.1 0.3-1.4 5-0.7 5.5 1.1 5.7 1.9 5.2-0.4 5.1-4.8 8.4-1.1 1.3-14.5-1.6-5.7 2.7-2.5 3.5-4.7 11.1-2.5 9.8-0.5 10.6 1 8.8 0.1 8.5-2.8 7.6-4.7 3.4-5.4-2.7-5 1.6-1.7 5-2.5 3.9-7.2 1.7-1.6 3.5 0.2 5.2 1.9 4.4 5.7 5.1 1 4.3 0.6 7.5-11.3 6.8-11.8 4.3-6.4-0.3-5.2-4.3-0.6-3.8-1.3-3.5-3.3-1.7-3.4 0.2-1.3-7.9-1.2-16.3 2.8-6.7-3.5-2.9-3.8-1.1-6.1 1.3-5.9-1.4-2.3-5.9-0.6-6.9 1.3-3.4 2.5-1.6 1.3-4 1-4.6-9.9-6.4-11-3-11.7-0.1-4.2 0.9-3.7 8.6-20.6 3.6-11.5-4.1-5.4-6-9.7-5.4-4.3-7.7-0.3-5.2-1.8-4-11.2-6.2-4.1-1-8.7 1.6-3.1-12-6.5-7.1-7.3 4.9-4.5-1.5-4.3-2.9-1.4-4.3 0.4-5.6 0.9-3.1-0.1-3.2-1.7-1.1-1.7 0.8-3.7-0.1-3.5-3.6-2.3-4.2-1.8-5-5.5-3-2.7-2.8-2.4-3.5-0.7-5.1 0-5.4 1.2-4.8 0.2-2.5 0.5-2.4 3.2-9.5-0.2-10.1-2-4.8-4.2-7.5 2.1-1.5 2.7 0 0-4.9-0.8-6-1.2-5.7-3.5-9.7-0.4-9.2 0.4-3.5 0.1-3.7 0.7-1.5 1.6 0.2 9.4-3 1.9-1.3 1-2.5-2.2-8.2-3-2.8 9.7-12.5-0.4-10.5 2-9.6 5.5 1.9 6.1 3.6 6.2-0.8 6.1-2.4 9.7-9.1 8-12.7 14.4-8.5 7.4-2.3 2.9-2.7 2.3-4.2 3.1-3.8-0.7-4.8-3.1-4-3.7-1.9-7.5-1.9-6.2-6.1-1.6-6-0.1-6.6 2.3-3.2 18.3 0.4 3-0.5 2.5-10.7 2-5.5 2.6-4.6 3.5-1.6 3.8-0.1 3.8 1.2z"
                                  id="Wielkopolskie" name="Wielkopolskie" class="area">
                            </path>
                        </a>

                        <a xlink:title="Kujawsko-pomorskie" onclick='draw_chart_onclick(this)'>
                            <path d="M499.5 219.5l8.6 16.9 2.5 7.1 3 5.8 1.5 2.2 2.4 1 1.9 0.1 7.6 2.5 10.6 6.5 11.4 3 5.6 3.9 5.1 13 1.5 15.2-4.8 3.9-5.1 2.4 0.6 3.1 0.1 3.3 0.8 4.9-0.3 3.2-0.5 3.3-1 2.8-1.9-0.3-1.8-1.3-1.9-0.8-2.2 2.1-1.8 2.8-4.2 3.5-4.8-0.6 1.5 6.7-0.5 6.1-2 2.2-0.8 3.4 1.1 3.4 1.6 3.1 2.9 7 0.1 5.4-4.3 1.2-6.7 19.5-2.6 5.4-0.6 6.3 2.1 2.1 0.4 3-7.4 12.2-0.4 2.8-0.6 2.8-2-0.1-1.9 0.3-1.2 1.9-0.9 1.8-3.8 1.2-12.3 0.2-1.7 1-0.7 1.5-1 1.2-9.5-7.2-3.5 0.5-10.4 4.4-3.6 0.3-2.7-6.2-16.5-13.5-3-3.6-3.5-1.6-1.9 0.2-1.8 0.8-1 1.8-1.5 0.9-2.4-0.8-1.9-2.8-1.2-2.6-0.8-3-1.4-1-1.9-0.5-5.8 6.8-3.4 1.5-10.1-2.6-3.2-3.1-2.9-3.6-3.4-1.4-3.7-0.2-3.5-1.9-10.2-9.3-7.5-4.1-6.9-0.4-6.4-2.2-1.1-0.6-0.8-1-0.4-2.7-0.9-2.2-3.1-2.7-1.8 1.6-4 1.4-4-0.8-2-3.2-1.5-3.9-3.6-3.4 0.6-4.3 1.7-1.2 1.8 0.1 1.6-0.6 1.2-2.3 2.1-11.6-4.9-10.8-7.5-5.7-8.1-2.9 4.5-10.4 1.4-10.3-3.1-5.9-0.9-7.1 9.1-7.7-4.8-10.8-8.4-6.6-1.2-5 7.2-9.5 2.7-6.2 2.8-1.7 3-10.5 2.5-5.3 2.7-3.9 3.7-0.4 13.8 3.7 6.2-2.5 0.1-3.6 0.4-2.4 0.5-2.2 3.2-3 6.9-2.5 4-7.5 2.7-2.1 12.7 2.5 16.9-2.6 3.5 0.4 2.9 3.7 3.3 3.1 17.9 3 8.5 5.1 3.7-2.4 5.7-2.1 8.1 1.1 2 1.2 1.3 1.6 1.7 1 6.5 6.8 3.1 2 5.4 2.2 11.4-0.7 5.4-2.4z"
                                  id="Kujawsko-pomorskie" name="Kujawsko pomorskie" class="area">
                            </path>
                        </a>

                        <a xlink:title="Śląskie" onclick='draw_chart_onclick(this)'>
                            <path d="M561.5 666.9l8.5 1.6 1.2 0.7 0.4 1.8 0 1.9-0.5 1.3-6.8 1.1-3.7 7.1 2.7 3.3 7.5 2.1 3.5 2.7 2.7 6.2 4.8 5.8-4 0.6-6.9 5.8-2 4.3 3.5 1.8 6.8 1 2.8 1.1 0.6 3.4 0.3 2.8-12.6 8-3.2 0.5-5.5-0.5-5.5 0.9-8.8 6.8-2.6 0.6-2.5 0-5.5-3.2-2.7 4-2.8 5.6-4.3 6.2-6.7-0.9-3.1 2.4 5.3 5.3 4.6 6.4-23.6 26.6-2.2 3.3-2.2 4.5-1.1 5.2 2 2.6 2.6 0.3 2.2 2.7 0.2 5.2 3 5.3 5 2 2.1 3.7 1.5 4.8 3.2 3 3.7 1.7 6.8 1.2-0.4 4-1.7 3.5-0.8 3.2 1.2 2.8 2.4 1.6 0.5 1.7-1.1 0.1-0.4 0.7-8.6 9.6-0.8 0.6-2.4 0.8-3.1-0.1-1.9 0.5-1.6 0.8-1.5 1.3-1.3 2.2-1.6 5 0.7 1.4-0.7 1.3-1.5 0.1-0.7 3-0.3 1.9-0.7 1.2-3.1 1.3-2.5 0.5-1-0.1-3-1.9-0.9-0.4-2.1 0.6-3.9 2.2-2.5 0.2-2-0.4-0.5-1.7 0.4-5-0.3-2.3-0.4-2.1-0.1-2.2 0.8-2.5-2.9-1.8-9.8-0.9 0.4-2.6-0.3-3.2-1.4-6.5-1.6-4.1-0.5-1.5-0.7-5.3-0.4-1.2-1.5-1.1-1.5 0.3-1.6 0.7-1.4 0.1-1.3-0.8-1.9-2.3-1.3-1-1.5-0.5-3-0.2-1.4-1-0.6-1.1-1-4.5-2.3-4.9-1.8-4.7 0-4.1 2.7-3.2-2.6-1.4-0.4-1.9 0.2-2.4-0.6-2.8-1.5-0.9-3.9 2.5-2.3 0-7.4-4.1-3.9-1.3-3.6 0.5 0.3 0.5-2.8 2.4-1.5 0.3-2-1.6-0.5-1.1-1.1-3.2-1.2-0.9-2.3-0.5-1.2-0.5-3.2-2.7-1.5-0.9-6.3-1.2-1.3-1.5 0.6-2.8-5.8-3.9-1.4-0.3 0.1-2.6 6-11.6 12.5-2.7 6-4.5 9.6-4.5 1.1-4.6 0.1-7.9-1.7-20.1 0.9-3.2 2.1-0.4 2.2-1 0.2-2.9-1.1-2.7 1.3-3.5 3-0.7 14.4 0.1-1.1-5.7-3.2-3.4-3.2-2.5-2.7-3.6-1.9-5.9 2.4-6.5 1.8-9.8 2.6-5.6 7.8-5.1 0.7-5.6-1.3-2.9-0.6-3.6 0.7-2.4 1.3-1.5 3.4-12.2 5-2.4 14.1-0.5 3.2-1.5 3.2-2.2 3.5 0.7 3 3.1 13.1 7 6.4 1.4 8-0.1 3.4-3 6.7 1.3 6 5.5 9.3 14.9 3.4 1 9.9-0.5 10.9 5.5z"
                                  id="Śląskie" name="Śląskie" class="area">
                            </path>
                        </a>

                        <a xlink:title="Łódzkie" onclick='draw_chart_onclick(this)'>
                            <path d="M516.2 421.6l9.6 6.6 10.5 2.2 5.1 2.4 9.2 7.5 20.7-4.3 3.2-3.3 3.7-0.3 2.7 3.5 2.4 4.1 3.1 1.7 3.5 1 2.8 1.9 1.2 4.2 0.4 5.7 2 4.5 1.4 0.8 1.6-0.4 6.8 2.8 3.9 2.6 1.4 1.7-1.1 8.1-3.3 2 0.8 3.4 2.7 3.1 2.4 3.6-0.3 3 0.9 2.6 3.6 1.2 10.6-1.2 6.6 3 7.2 5.6 5.9 7.9 0.6 2.6-0.9 1.9-1 1.5-0.5 2 0.9 4.6 5.4 5.6 1.5 4.1-0.3 3.8-1.2 2.7-7.3-1-5.9-3.3-7.8 0-2.6 9.1 3 7.1 0.9 4.9 0.4 5.1 0.8 2.6 3.6 1.8 1.3 1.4 0 5.2-1.6 4.4-6.4 6-1.3 4.3 0.3 4.7-2.8 2.1-3.7 9.1-3.3 1.5-3.3 0.5-3.2 1.6-6.9 6.6-3.2 0.9-11-1.6-3.1 1.2-2.4 3.2-2.5 9.6 4.5 6.9 3.1 2.5 1 5.3-0.8 5.1-2.3 2.7-13.1-9.6-3.5 0.6-1.3 5.1-0.1 5.1 0.4 4.9-1.7 4.8-3.4 2.3-2.9 2.7-2.3 3.9-10.9-5.5-9.9 0.5-3.4-1-9.3-14.9-6-5.5-6.7-1.3-3.4 3-8 0.1-6.4-1.4-13.1-7-3-3.1-3.5-0.7-3.2 2.2-3.2 1.5-14.1 0.5-5 2.4-7.5-6-2.3-4.6-2.7-3.2-1.2 0.6-0.9 1.7-1.3 1.1-7 0.2-22.3-5.7-2.9-2.4-2.3-4-0.6-7.5-1-4.3-5.7-5.1-1.9-4.4-0.2-5.2 1.6-3.5 7.2-1.7 2.5-3.9 1.7-5 5-1.6 5.4 2.7 4.7-3.4 2.8-7.6-0.1-8.5-1-8.8 0.5-10.6 2.5-9.8 4.7-11.1 2.5-3.5 5.7-2.7 14.5 1.6 1.1-1.3 4.8-8.4 0.4-5.1-1.9-5.2-1.1-5.7 0.7-5.5 1.4-5 3.1-0.3 3.5 0.4 6.6-1.6 5.1-5.9 0.9-10.2 1-4.5 10-4.3 6.1-5.9-0.2-1.6-1.5-0.4-1.9-4.1-0.2-5.3 1-1.2 0.7-1.5 1.7-1 12.3-0.2 3.8-1.2 0.9-1.8 1.2-1.9 1.9-0.3 2 0.1z"
                                  id="Łódzkie" name="Łódzkie" class="area">
                            </path>
                        </a>

                        <a id="Mazowieckie-a" xlink:title="Mazowieckie" onclick='draw_chart_onclick(this)'>
                            <path d="M893.8 428.4l-3.2 6-9.5 14-2.8 6.7-3.3 4.2-3.9 1.5-11.7-6.1-4-0.9-1.8 1.2-1.7 1.8-0.6 2-0.5 2.4-5.5 4.6-11-1.1-3.8 0.5-9.5 7.1-3.5 1.1-5.1-0.9-13.6 2.7-14.4-0.1-7.6 2.2-7.1 5.3 0.6 4.1 1.6 4.5 2 4.2 0.4 4.3 2.4 6 3.5 5.3-5.5 3.4-3.8 5.4 5 7.7-0.6 3.7-2.5 2.4-7.1 2.5-7.2-1.2-3.6-1.4-3.6 0.9-1 4.1 0.1 1.7 1.3 2.1 1.4 1.8 2.8 1.3 5.1 1 1.8-0.1 2.4-1.1 1 0.1 1.5 1 0.4 1.4-0.1 1.9 0.2 2.2 1.8 2.8 0.3 2-1.5 1.8 0 1.1 3.1 0.3-0.1 6.5-2.4 3.4-2.4 1.9-0.2 3.9 4 4.8-0.6 4.5-1.2 4.9 0.2 3.3-1.1 0.2-0.9 0.8-1.3 2.5-1.8 9.9-1.2 3.7-0.1 1.8 0.2 1.3 0.9 2.8 0.8 5.1 2.4 6.1-31.8 6.7-16.5-5.2-7.7-0.7-6.8-4.4-0.6-2.4-0.4-2.7-3-3.3-0.9-5.4-3-1-3.1 3-2.9 4-3.3 1.9-13.9 2.2-12-2.5-2.6-1.9-2.1-3.4-2.3-2.6-16.4-10.1-3-7.5-5.5-2-0.3-4.7 1.3-4.3 6.4-6 1.6-4.4 0-5.2-1.3-1.4-3.6-1.8-0.8-2.6-0.4-5.1-0.9-4.9-3-7.1 2.6-9.1 7.8 0 5.9 3.3 7.3 1 1.2-2.7 0.3-3.8-1.5-4.1-5.4-5.6-0.9-4.6 0.5-2 1-1.5 0.9-1.9-0.6-2.6-5.9-7.9-7.2-5.6-6.6-3-10.6 1.2-3.6-1.2-0.9-2.6 0.3-3-2.4-3.6-2.7-3.1-0.8-3.4 3.3-2 1.1-8.1-1.4-1.7-3.9-2.6-6.8-2.8-1.6 0.4-1.4-0.8-2-4.5-0.4-5.7-1.2-4.2-2.8-1.9-3.5-1-3.1-1.7-2.4-4.1-2.7-3.5-3.7 0.3-3.2 3.3-20.7 4.3-9.2-7.5-5.1-2.4-10.5-2.2-9.6-6.6 0.6-2.8 0.4-2.8 7.4-12.2-0.4-3-2.1-2.1 0.6-6.3 2.6-5.4 6.7-19.5 4.3-1.2-0.1-5.4-2.9-7-1.6-3.1-1.1-3.4 0.8-3.4 2-2.2 0.5-6.1-1.5-6.7 4.8 0.6 4.2-3.5 1.8-2.8 2.2-2.1 1.9 0.8 1.8 1.3 1.9 0.3 1-2.8 0.5-3.3 0.3-3.2-0.8-4.9-0.1-3.3-0.6-3.1 5.1-2.4 4.8-3.9 3.4-0.9 2.9-2.4 2.6-5.1 3.9-1.2 1.7 0.3 1.6 1.1 0.6 1.5 0.9 1 31.5 4.9 7.5-1.4 3-1.5 2.6-3 1.6-5.6 3.1-2.5 3.8 0.4 3.7-1 13.9-8.1 3.3-4 3.6-2.9 7.2 0.1 6.3-1.3 7.3-4.2 9.5 0 9-2.9 7.5-9 8.9 0.8 4.5-0.7 4.1-2.9 2.8-5.6 2.5-1.3 12-1 1.3 5.8 2.3 5.4 1.6 6.6 2.5 19.2 5.6 14 3.6 7.1 5.3 2.8 5.5 0.8 4.6 3.6-1.7 3 0.5 4.2 2.5 4.5 3.8 2.1 2.4 2.6 1.5 4.1 1.4 6 2.6 4.9 7.1 3.7 7.6-1.2 4.9-5.4 4.8 3.7-1.5 9.1 2.5 3.5 3.1 2.2 5.6-2.8 5.8-1.6 1.5 7.7 0.6 8.6 1.2 5.8 0.4 6.1-0.3 3.6 5.5 5.9 2.1 2.9 2.2 1.9 0.7 1 0.2 1.6-0.7 2.6-0.1 1.5 0.3 2.1 0.5 1.3 0.8 0.8 1.4 0.2 0.3 0.8-0.6 5.4 0.7 1.8 1.7 2.4 2 1.5 1.7-0.7 1.2 1.9 2.4 0.6 5.3-0.3 15.5 3.2 7.7-1.1 3 1 2.2 2.2 1 3.7 2.1-1.1 1.8 1.1 2.8 3.4-0.5 0.8-0.8 2.5 1.7 1 1.6-0.5 1.5-1z"
                                  id="Mazowieckie" name="Mazowieckie" class="area">
                            </path>
                        </a>

                        <a xlink:title="Świętokrzyskie" onclick='draw_chart_onclick(this)'>
                            <path d="M767.1 627.2l0.4 2.2-1.2 1.6-1.5 0.5 0 1.1 1.8 1.4 0.3 3.1-0.7 6.8-0.7 1.3 0.1 1.9 1 0.7 0.4 2 2.5 9.7 0.5 3.4 0.3 2.1 0.1 5.8-0.8 6.2-0.7 2.5-1.2 2.8-1.5 2.4-1.8 0.9-2.6 0.4-1.7 1.3-2.8 4.8-4.8 5.6-0.7 2.4-0.5 3.1-1.2 2.4-3.1 3.7-1.8 1.6-6.4 1.6-9.5 4.3 1.3 3.2-1.9 2-2.5 1.5-2.5 0.5-1.9-0.8-6.1 5.3-0.4 0.2-1.8 0.2 0.1 1.9-1.2 0.8-0.6 0-1-0.8-0.5 2.2-1.2 1.1-1.1 0.6-0.6 0.8-0.1 1.3-1.6 0.9-1.7 2.4-1.8 0.7-1.9-2.1-1.4-0.5-1 0.2-4.1 2-3 2.8-1.5 0.4-7.4 0.2-1 0.4-1.8 2-1 0.6-2.7 0.2-1.3 0.9-1.6-1-1.3 0.9-1.4 1.4-1.6 0.8-3.8-3.7-0.7 1-0.6 2.7-2.1 2.1-1.2 0.2-0.8 1.1-0.4 2.5-1.4 1.3-3.2 1.6-1.2 1.9-0.4 1.7-3 3.1-13.1-0.3-7.3-4.4-1.9-4-4.5-6.4-1.7-3.6-1.7-7.2-4.5-9-7.7-5.2-8.4-2.6-3.3-3.5-3.9-2.1-9.4-0.1-2.8-1.1-6.8-1-3.5-1.8 2-4.3 6.9-5.8 4-0.6-4.8-5.8-2.7-6.2-3.5-2.7-7.5-2.1-2.7-3.3 3.7-7.1 6.8-1.1 0.5-1.3 0-1.9-0.4-1.8-1.2-0.7-8.5-1.6 2.3-3.9 2.9-2.7 3.4-2.3 1.7-4.8-0.4-4.9 0.1-5.1 1.3-5.1 3.5-0.6 13.1 9.6 2.3-2.7 0.8-5.1-1-5.3-3.1-2.5-4.5-6.9 2.5-9.6 2.4-3.2 3.1-1.2 11 1.6 3.2-0.9 6.9-6.6 3.2-1.6 3.3-0.5 3.3-1.5 3.7-9.1 2.8-2.1 5.5 2 3 7.5 16.4 10.1 2.3 2.6 2.1 3.4 2.6 1.9 12 2.5 13.9-2.2 3.3-1.9 2.9-4 3.1-3 3 1 0.9 5.4 3 3.3 0.4 2.7 0.6 2.4 6.8 4.4 7.7 0.7 16.5 5.2 31.8-6.7z"
                                  id="Świętokrzyskie" name="Świętokrzyskie" class="area">
                            </path>
                        </a>

                        <a xlink:title="Podlaskie" onclick='draw_chart_onclick(this)'>
                            <path d="M902.7 429.6l-0.8 0.5-1.8 0-3.1-1.9-1.9-0.4-1.3 0.6-1.5 1-1.6 0.5-1.7-1 0.8-2.5 0.5-0.8-2.8-3.4-1.8-1.1-2.1 1.1-1-3.7-2.2-2.2-3-1-7.7 1.1-15.5-3.2-5.3 0.3-2.4-0.6-1.2-1.9-1.7 0.7-2-1.5-1.7-2.4-0.7-1.8 0.6-5.4-0.3-0.8-1.4-0.2-0.8-0.8-0.5-1.3-0.3-2.1 0.1-1.5 0.7-2.6-0.2-1.6-0.7-1-2.2-1.9-2.1-2.9-5.5-5.9 0.3-3.6-0.4-6.1-1.2-5.8-0.6-8.6-1.5-7.7-5.8 1.6-5.6 2.8-3.1-2.2-2.5-3.5 1.5-9.1-4.8-3.7-4.9 5.4-7.6 1.2-7.1-3.7-2.6-4.9-1.4-6-1.5-4.1-2.4-2.6-3.8-2.1-2.5-4.5-0.5-4.2 1.7-3-4.6-3.6-5.5-0.8-5.3-2.8-3.6-7.1-5.6-14-2.5-19.2-1.6-6.6-2.3-5.4-1.3-5.8 7.3-3.2 14.2 0.9 6.3-2.2 2.9-2.4 3.1-1.3 7.5-1.1 17.2-11.9 9.6-10.9 27.8-17.3 5.7-6.1 3.5-9.8 4-7.8 0.4-7.9-10.6-14.8-5-5-1.1-4.7-0.5-5.1-10.1-13.5 9.4-13.3 22.2-3.1 6.6-4.5 5.7-6 2.5-8.3-0.3-1.3 2.7-1.4 2.1 0.3 5.9 3.1 1.1 0.1 2.3-0.5 1 0.3 1.1 1.1 1 2.6 0.6 1.1 1.1 0.8 3.4 0.4 0.7 0.9-1 3.6 0 1.8 1.8 2.5 2.3 0 2.4-1 2-0.4 1.8 0.8 6.2 5.2 3.8 2.4 8 3 3.8 3.3 1 1.5 1.8 3.5 0.9 1.3 1.1 0.7 2.1 0.6 0.9 0.5 1.7 2.5 1.3 3.4 1.1 3.8 0.8 3.6 1.5 7.9 0 3.9-1.5 2.6-1.2 1-1 1.4-0.1 1.8 0.4 1.5 0.8 1.3 1.1 0.9 0.9 1.6-0.5 1.9 0.1 4.9 1.1 4.2 1.3 3.9 1 4.2 0.9 9 1.1 3.5 2.4 3.5 0.2 10.4 2.4 11.7 8.4 26.1 4.7 9.8 2 5.3 4 15.7 1.8 4.8 1.8 2.4 1 2.3 0.7 2.5 1.2 2.5 1.8 2 1.7 1.3 1 2-0.2 4.1-0.9 2.4-1.2 2-0.9 2.2-0.2 3.3 0.9 2.8 3 3.9 1.1 2.4 0.2 1.3-0.2 3.1 0.8 4.6-0.2 2.3-1.1 2.2-0.3 1.3 0.1 1.8 0.7 1.8 0.3 1.3 1 24.9-1.3 7.1-4 4.9-13.2 9-16.7 4.8-8.8 5.2-8.8 7.3-12.1 18.7-4 4.9-1.8 2.9-4.7 9.5 1.1 0.7z"
                                  id="Podlaskie" name="Podlaskie" class="area">
                            </path>
                        </a>

                        <a xlink:title="Lubuskie" onclick='draw_chart_onclick(this)'>
                            <path d="M902.7 429.6l0.7 0.6 1.1 1.6 0.3 2.1-0.8 2.9 2.3 1.5 7.1 1.9 1.6-0.6 1.3 1.3 6.2 2.4 2.1 0.2 0 1-0.8 1.5 1.7-0.3 1.3 0.6 0.9 0.9 0.9 0.2 1.4-1.7 0.4 0.7 1.6 1.6 1.7-1.6 0.4 1.2-0.3 2-0.4 0.5 2.8 5.6 1.9 0.6 4.7-0.1 1.9 1.1 1.8 3.6 2.1 1.3 0.4 1.8 0.1 1.9 0.9 2 1.4 6.1 1.1 2.8-1.6 1.2-1.3 2-1.8 4.5-0.7 3-0.1 5.2-0.6 1.9 0.7 1.1-1.2 0.6-0.4 3.5-1.1 1.4 1.5 2.9 1.9 2.5-1.2 3.7-1.9 1.9-2.1 1.3-1.7 2-0.8 2.9-0.5 3.7 1 1.9 0.2 1-1.3 0.9 0.3 1.1 1.1 1.8-1.2 1.6-1.5 0.4 0 1.2 1.1 1.3 0.1 1.5-0.5 4.4 0.4 2.3 0.8 2.2 2.2 3.8-1.4 0 1.3 2.5 1.6 0.6 1.3 0.8 0.6 3.1 0.7 2.3 1.5 1.1 1.8 0.6 1.4 1-1.5 3.2 0.1 1 4.1 6 0.8 1.9-1.1 0.6-0.7 1.1-0.2 1.6 0.6 2.2-1.8 0.7-1.7 1.9-1.4 2.3-0.5 2.2 0.6 3.3 1.6 0.9 1.9 0 1.7 1.1 5.5 12.1 2.3 2.8 5 3.2 4.8 4.8 1.1 2-1.7 0.8-0.4 1.5 1.5 3.1 2.6 4.1 0.9 2.1 1.2 6.6-0.5 2.3 0.8 0.6 2.5 1.4 1.1 1.7 0.3 2.7 0.6 2.1 1.5 2.4 6.7 6.3 8.3 4.6 1.3 2-1.2 2.7-3.1 0.6-3.3 0.1-2 0.9-2.6-1.5-2.8 0.3-2.3 1.8-1.2 2.7 0.2 3 1.5 2 2.3 1.1 2.8 0.4 0 0.9-1.3 2.8 1.4 2.4 2.7 1.7 2.7 0.7-0.6 3.5 0.8 3.4 2.5 6.1-2.3 4 1 7.5 1.1 2.9-1.2 1.8-1.9 2-6.4 3.3-0.3 1.9 0.2 3-0.2 2.1-0.4 1.7-2.2 5.1-5.3 2.2-18 0.2-3.4 1.1-1.8 0.9-1.3 1.3-1.1 2.3-1.3 4.2-10-5.9-3.2-4.9-6.3-4-7.3-0.8-5.7 0.5-2.6 1.2-8.2 9.3-6.5 5.2-7.5 1.6-22.4-0.7-13.6-3.9-1-2.3 3.4-0.8 1.5-0.9-2.6-1.9-13.9 2.8-3.5-1.6-2.6-4-0.7-3.9 1.6-3.3 2.5-3.3 3.1-1 3.1 0.4 2.8-1.6-1.2-3.8-2.3-4.4-0.3-2.2 0.1-2.1-0.9-1.5-15.7-8.4-23.2-5.9-1.9-3.3 4.6-8.5 1.4-4-3.2-2.8-3.5-2.2-3.9-1.5-3.9 0.2-6.6 4.6-7.4-0.4-13.2-8.9-0.5-3.4-2.5-9.7-0.4-2-1-0.7-0.1-1.9 0.7-1.3 0.7-6.8-0.3-3.1-1.8-1.4 0-1.1 1.5-0.5 1.2-1.6-0.4-2.2-2.4-6.1-0.8-5.1-0.9-2.8-0.2-1.3 0.1-1.8 1.2-3.7 1.8-9.9 1.3-2.5 0.9-0.8 1.1-0.2-0.2-3.3 1.2-4.9 0.6-4.5-4-4.8 0.2-3.9 2.4-1.9 2.4-3.4 0.1-6.5-3.1-0.3 0-1.1 1.5-1.8-0.3-2-1.8-2.8-0.2-2.2 0.1-1.9-0.4-1.4-1.5-1-1-0.1-2.4 1.1-1.8 0.1-5.1-1-2.8-1.3-1.4-1.8-1.3-2.1-0.1-1.7 1-4.1 3.6-0.9 3.6 1.4 7.2 1.2 7.1-2.5 2.5-2.4 0.6-3.7-5-7.7 3.8-5.4 5.5-3.4-3.5-5.3-2.4-6-0.4-4.3-2-4.2-1.6-4.5-0.6-4.1 7.1-5.3 7.6-2.2 14.4 0.1 13.6-2.7 5.1 0.9 3.5-1.1 9.5-7.1 3.8-0.5 11 1.1 5.5-4.6 0.5-2.4 0.6-2 1.7-1.8 1.8-1.2 4 0.9 11.7 6.1 3.9-1.5 3.3-4.2 2.8-6.7 9.5-14 3.2-6 1.3-0.6 1.9 0.4 3.1 1.9 1.8 0 0.8-0.5z"
                                  id="Lubuskie" name="Lubuskie" class="area">
                            </path>
                        </a>

                        <a xlink:title="Podkarpackie" onclick='draw_chart_onclick(this)'>
                            <path d="M950.7 741.8l-1.4 2.2-7.9 8.6-2.9 2.3-9.9 7.7-22.8 24.8-3 4.6-3.6 2.9-4 4.4-10.8 15.9-4.1 4.3-0.6 1.2-0.8 3.2-0.4 1.1-0.9 0.8-1.8 0.7-0.8 0.6-1 1.2-6.1 11.1-1.7 1.7-1.1 0.5-2.1 0.4-1.2 1-0.7 1.3-1.7 4.9-7.6 10.2-2.4 5.9 1.9 5.5 0.6 2.3 0.7 6.5 0.6 2.6 1.3 2 2.2 2.3 0.5 1.2 0.5 2.4 1.3 14-0.4 2.3-1.6 4.6-1.5 5.4-1.5 3.3-0.6 1.9 1.1 0.5 1.3-1.7 1.1 1.3 3.2 2.2 2.9 3.9 1.9 1.4 4.4 2.5 1.2 1.5 0 1.3-0.9 3-0.1 2 0.4 1.5 2 3.6-1.2 2.4-2-0.9-2.2-2-2.9-1.3-1.8-2.5-1-1-1.1-0.1-2.3 0.7-3.6-0.3-2.1 0.2-2.1-0.3-2.5-1.6-3.7-4.2-2-0.6-2.1 2-3.5-1.7-7.8-0.3-3.6-1.2-5.1-5-2.1-0.9-5.5 0.2-4.7-1.4-0.7-0.6-0.2-1 0.2-2.1-1.1-1.2-0.8-0.1-2.4 0.3-2.1-0.6-3.3-2.1-7-1.4-2.8-2-0.7-4.9-1.3-5.4-2.8-4.6-3.6-3.4-5.4-2.7-3.6-3.4-1.8-1-2.1 0.3-1.7 1.6-1.4 1.7-1 0.7-1.6-1.2-3.3-5.2-1.7-1.7-1-0.3-1.5 0.3-1.8-0.8-1.8-1.8-1-0.7-1.9-0.5-7.1 0.8-1.5 0.6-3.8-10.6-1.8-11.2 0.6-5.4-0.4-5.4-3.4-10.7-6-6.5-10.7-4.6-3-2.7 1.7-3.9 9.9-7.6-1.3-4.5-3.7-2-2.9-0.2-2.1-2.5-0.8-2.2-0.9-1.7 0.1-6 0.8-6.9-2.7-23.4 0.7-8.8 3.7-6.4 3-7.4 1.1-13.1 0.4-0.2 6.1-5.3 1.9 0.8 2.5-0.5 2.5-1.5 1.9-2-1.3-3.2 9.5-4.3 6.4-1.6 1.8-1.6 3.1-3.7 1.2-2.4 0.5-3.1 0.7-2.4 4.8-5.6 2.8-4.8 1.7-1.3 2.6-0.4 1.8-0.9 1.5-2.4 1.2-2.8 0.7-2.5 0.8-6.2-0.1-5.8-0.3-2.1 13.2 8.9 7.4 0.4 6.6-4.6 3.9-0.2 3.9 1.5 3.5 2.2 3.2 2.8-1.4 4-4.6 8.5 1.9 3.3 23.2 5.9 15.7 8.4 0.9 1.5-0.1 2.1 0.3 2.2 2.3 4.4 1.2 3.8-2.8 1.6-3.1-0.4-3.1 1-2.5 3.3-1.6 3.3 0.7 3.9 2.6 4 3.5 1.6 13.9-2.8 2.6 1.9-1.5 0.9-3.4 0.8 1 2.3 13.6 3.9 22.4 0.7 7.5-1.6 6.5-5.2 8.2-9.3 2.6-1.2 5.7-0.5 7.3 0.8 6.3 4 3.2 4.9 10 5.9z"
                                  id="Podkarpackie" name="Podkarpackie" class="area">
                            </path>
                        </a>

                        <a xlink:title="Opolskie" onclick='draw_chart_onclick(this)'>
                            <path d="M402 614.4l2.3 4 2.9 2.4 22.3 5.7 7-0.2 1.3-1.1 0.9-1.7 1.2-0.6 2.7 3.2 2.3 4.6 7.5 6-3.4 12.2-1.3 1.5-0.7 2.4 0.6 3.6 1.3 2.9-0.7 5.6-7.8 5.1-2.6 5.6-1.8 9.8-2.4 6.5 1.9 5.9 2.7 3.6 3.2 2.5 3.2 3.4 1.1 5.7-14.4-0.1-3 0.7-1.3 3.5 1.1 2.7-0.2 2.9-2.2 1-2.1 0.4-0.9 3.2 1.7 20.1-0.1 7.9-1.1 4.6-9.6 4.5-6 4.5-12.5 2.7-6 11.6-0.1 2.6-1.7-0.4 0.5 3.5 0.5 0.2 1.6-0.2 0.7 1.1 0.2 1.5-0.5 0.7-3.2 1-4 0.1-1.8 0.5-3 2.6-3.6 1.1-3.6-0.8-6.5-6.4-1.1-1.6-0.8-1.8-1.2-3.7-2-2.2-0.4-0.9 1.3-2.2-1.4-0.3-2.7-1.3-1.3-0.4-2.9 0.9-1.6-0.7-4.8-6.1-0.2-1.2 0.7-1.5 1.1-0.6 4.8-0.2 2.7-1 4.2-2.6 2-1.7 0.9-2.4-1.5-2.8-1.1-1.1-0.2-1.6 0.2-1.4 1.3-3.4 0-0.9-2-2.8-0.6-0.5-1.7-0.7-0.6 0.4-0.8 2.4-3 4.1-1.7 1.4-2.3 0.6-8.9-1.6-4.8 0.4-2.9 3.6-1 0.5-1.1-0.5-0.9-2.9-2.2-1.8-2.2 0.2-1.1 2.9-1.3-1-0.7-1.6-0.2-2 0.2-2.1-1.5-1.9 1.8-0.8-2.1-0.8-4.6 0.1-2.4-0.7-3.5-2.2-1-1.1-0.6-1.3-0.9-3.7-1-0.8-3 0.6-1.4 0-1.3-0.7-2.3-2-1.1-0.6-10.2-2.9-2.3 0.3-1.5-0.9 0.4-1.9 7.2-17.9 5.2-4 6.1-1 3.5-6.2 2.3-8.8 7.2-13.7 8.3-12.3 3.6-8.3 4.7-6.2 3.2-2.1 1.6-4.8 0.6-4.1 1-3.9 5.8-13.3 2.6-2.8 3.3-1.1 3.4 0.2 3.5-0.8 3.3-2.1 3.4-0.2 3.3 1.7 1.3 3.5 0.6 3.8 5.2 4.3 6.4 0.3 11.8-4.3 11.3-6.8z"
                                  id="Opolskie" name="Opolskie" class="area">
                            </path>
                        </a>

                        <a xlink:title="Małopolskie" onclick='draw_chart_onclick(this)'>
                            <path d="M715.3 728.7l-1.1 13.1-3 7.4-3.7 6.4-0.7 8.8 2.7 23.4-0.8 6.9-0.1 6 0.9 1.7 0.8 2.2 2.1 2.5 2.9 0.2 3.7 2 1.3 4.5-9.9 7.6-1.7 3.9 3 2.7 10.7 4.6 6 6.5 3.4 10.7 0.4 5.4-0.6 5.4 1.8 11.2 3.8 10.6-1.9 0.8-1.4-0.4-3.7 0.8-1.7 0-9.7-2.8-5.6-3-1.3-0.3-1.8 1.3-3.1 4.6-1.8 1.6-2.1 0.3-1.5-1-1.4-1.6-1.8-1.2-1.6-0.2-4 0.8-1.6 0.8-2 2.2 1.2 1.4 2.3 1.4 1.3 2.3-0.9 1.4-1.8 0.4-2.1 0-1.6 0.4-2 2-3.3 4.7-2.1 1.9-2.4 0.9-1.8-0.4-1.6-1.2-1.6-1.7-1.9-1.4-1.6-0.2-1.7 0.1-2.2-0.3-1.6-1.2-8.8-10.6-1.6-0.3-3.7 0.6-3.1-0.2-1 0.6-1.6 1.9-1.1 1.1-2.4 0.8-2.2-0.5-8.4-4.3-1.6 0.4 0.1 2.6-5.2 0.2-4.1-1.6-1.2 0.1-1 0.7-0.3 1-0.8 3.6-0.7 2.1-0.5 0.7-7.7 0.7-1.5 0.8-2.1 2.6-1 0.9-2.2-0.2-0.8 0.5-1.9 4.3-1.3 3.5-1.2 1.5-0.6 5.3-1 3.8-2 1.5-3.3-1.6-5.1-4.8-2.8-1.5-3.2 0.4-1.8 1.3-3.3 3.5-2.2 0.8-4.6-0.3-2.5-1-1.3-1.7 0.4-2.1 3.8-6.1 1.6-0.9 0.1-1.5-1-1.3-1.4-1-0.3-1.2 0.9-1.7-0.5-7.4-0.6-2.6-0.9-2.9-0.9-0.7-3.3 1.4-2 0.2-2.2-0.2-5.7-2 0.2-1.9-0.1-2.3 0.6-1.8-4-0.1-2-0.5-1.7-1.4-0.6-1.1-1.6-4.8-1.8-7.8-1.2-3.1-2.3-1.5-0.8-0.8-1.6-3-0.9-0.4-0.5-1.7-2.4-1.6-1.2-2.8 0.8-3.2 1.7-3.5 0.4-4-6.8-1.2-3.7-1.7-3.2-3-1.5-4.8-2.1-3.7-5-2-3-5.3-0.2-5.2-2.2-2.7-2.6-0.3-2-2.6 1.1-5.2 2.2-4.5 2.2-3.3 23.6-26.6-4.6-6.4-5.3-5.3 3.1-2.4 6.7 0.9 4.3-6.2 2.8-5.6 2.7-4 5.5 3.2 2.5 0 2.6-0.6 8.8-6.8 5.5-0.9 5.5 0.5 3.2-0.5 12.6-8-0.3-2.8-0.6-3.4 9.4 0.1 3.9 2.1 3.3 3.5 8.4 2.6 7.7 5.2 4.5 9 1.7 7.2 1.7 3.6 4.5 6.4 1.9 4 7.3 4.4 13.1 0.3 3-3.1 0.4-1.7 1.2-1.9 3.2-1.6 1.4-1.3 0.4-2.5 0.8-1.1 1.2-0.2 2.1-2.1 0.6-2.7 0.7-1 3.8 3.7 1.6-0.8 1.4-1.4 1.3-0.9 1.6 1 1.3-0.9 2.7-0.2 1-0.6 1.8-2 1-0.4 7.4-0.2 1.5-0.4 3-2.8 4.1-2 1-0.2 1.4 0.5 1.9 2.1 1.8-0.7 1.7-2.4 1.6-0.9 0.1-1.3 0.6-0.8 1.1-0.6 1.2-1.1 0.5-2.2 1 0.8 0.6 0 1.2-0.8-0.1-1.9 1.8-0.2z"
                                  id="Małopolskie" name="Małopolskie" class="area">
                            </path>
                        </a>
                        <circle cx="117.2" cy="233.1" id="0"></circle>
                        <circle cx="611.2" cy="696.4" id="1"></circle>
                        <circle cx="678" cy="712.1" id="2"></circle>
                    </svg>
                </div>
            </div>
        </div>
        <div class="side-content">
            <div id="cases-switcher">
                <button class="btn" id="daily infected" onclick="set_type(this)">Infected</button>
                <button class="btn" id="daily cured" onclick="set_type(this)">Cured</button>
                <button class="btn" id="daily deceased" onclick="set_type(this)">Deaths</button>
            </div>
            <div id="canvas-place">
                <canvas id="predictions-graph" width="500" height="300"></canvas>
            </div>
            <script>
                var predicted_values_raw = '{{predicted_values}}';
                var graph_data_raw = '{{graph_data}}';
                var dates_raw = '{{dates}}';
            </script>
        </div>
        <div id="pred-summary">
            <table id="summary-tab">
                <tr>
                    <th></th>
                    <td>Speculated infected</td>
                    <td>Speculated cured</td>
                    <td>Speculated deaths</td>
                </tr>
                <tr>
                    <td> Poland</td>
                    <th id="polska-infected"></th>
                    <th id="polska-cured"></th>
                    <th id="polska-deaths"></th>
                </tr>
                <tr>
                    <td id="summary-last-clicked"> </td>
                    <th id="woj-infected"></th>
                    <th id="woj-cured"></th>
                    <th id="woj-deaths"></th>
                </tr>
            </table>
        </div>
        <script type="text/javascript" src="../static/js/prediction.js"></script>
    </div>

    <script src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js'></script>
    <link rel="stylesheet" type="text/css" href="../static/css/prediction.css"/>
{% endblock content %}